.container {
    padding: .1rem;
    background-color: #ebc4ff;
    margin: .2rem;
    flex-flow: row wrap;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

@media (max-width: 1155px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}